*{

  margin: 0%;
  padding: 0%;
  
}




.navnames {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
}

.hello {
  
  margin-top: 20px;
  
}
.navbar {
  display: flex;
  background-color: aliceblue;
  margin: 0%;
}
.logo {
  height: 50px;
  width: 30%;
  border-radius: 50px;
  margin-left: 150px;
}

button {
  margin-left: 300px;
  display: flex;
  margin-top: 20px;
}

.heroSection {
  height: 600px;
  width: 100%; 
  background-image: url("src/assets/kalki.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title2 {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  
}

.space {
  
  padding: 300px;
}

.title1{

  margin-bottom: 30px;
}

.advertizing{

  height: 150px;
  width: 100%;
  background-color: rgb(161, 230, 230);
  display: flex;
  flex-direction: row;
  


}

.contact{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 500px;
  margin-left: 200px;

}


.callicon{

  border-radius: 100%;
  height: 50px;
  width: 50px;
  align-items: start;
  margin-right: 20px;
  
  
}

.contactButton{

  margin-right: 600px;
  display: flex;
  align-items: center;
  width: 150px;
}

