.navnames {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
  
  
}
.navbar {
  display: flex;
  background-color: aliceblue;
  
  
}
.logo {
  height: 50px;
  width: 30%;
  border-radius: 50px;
  margin-left: 150px;
}

button {

  margin-left: 300px;
  display: flex;
  margin-top: 20px;
}




.heroSection {

  height: 700px;
  width: 100%;
  background-image: url("src/assets/kalki.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.title2{

  padding: 20px;
  
  

}